#!/bin/bash
# {{ ansible_managed }}

if [ -z "$1" ]; then
  echo "`basename $0` {start|stop}"
  exit
fi

case "$1" in
start)
  CONKY_USER={{ user }}
  SU=/bin/su
  export DISPLAY=:0.0
  $SU -l $CONKY_USER --shell=/bin/bash -X -c "{{ conky_home }}/conky-startup.sh" || return 2
;;
stop)
  killall conky
;;
esac
